.summary-container{
    display: flex;
    justify-content: center;
    align-items: center;
height: 80vh;
}
.form-title, .form-description{
border: 1px solid black;
width: 50rem;
} 
.form-group label{
    text-align: center;
 
}
.summary h1{
    text-align: center;
    font-size: xx-large;
    margin-bottom: 5rem;
}
.summary-parent-container{
    height: 100vh;
}